    <h1>Todo List: </h1>
    <!-- Unordered list with a class of `todoItems` -->
    <ul class="todoItems">
    <!-- Loop through every object in the `items` array -->
    {{#each items}}
        {{! List item with class of `item` }}
        <li class="item">
            {{! Create span containing text of current item `thing`, with optional class of `completed` if the current item `completed` property is equal to `true` }}
            {{#if this.completed}}
                <span class='completed'>{{this.thing}}</span>
            {{else}}
                <span>{{this.thing}}</span>
            {{/if}}
            {{! Font Awesome Trash icon }}
            <span class='fa fa-trash'></span>
        </li>
    {{/each}}
    </ul>

    <!-- Output the value of left into the page -->
    <h2>Left to do:  {{left}}</h2>

    <h2>Add A Todo:</h2>

    <!-- Form that will make a `POST` request to `/addTodo` when submitted -->
    <form action="/addTodo" method="POST">
        <!-- Text input field with `placeholder` of `Thing To Do` and `name` of `todoItem`, which will become the key when the value is transmitted -->
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <!-- Submit button -->
        <input type="submit">
    </form>
    
    <a href="/logout">Logout</a>
    {{#if isAdmin}}
        <a href="/admin">Admin</a>
    {{/if}}

    <!-- Link to local JavaScript file -->
    <script src='js/main.js'></script>